.bd {
  margin: 0;
  background-color: white
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
  
.menu {
  float: right;
}
  
.menu a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}
  
.menu a:hover {
  scale: 120%;
  color: white;
}

.logo {
  float: left;
}

.logo a {
  display: block;
  padding: 30px;
}

#logo {
  position: absolute;
  left: 5%;
  top: 3%;
  max-width: 8%;
  max-height: 8%;
}

.main_txt {
  margin-left: 5%;
  margin-right: 5%;
}

.main_pic {
  display: grid;
  align-items: center;
  justify-content: center;
}

.main0 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px gray;
}

.main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px gray;
}

.main2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px gray;
}

.main3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: right;  
  margin-right: 10%;
  color: black;
}

@keyframes infiniteScroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}

.container {
  width: 100%;
  overflow-x: hidden;
}

.horizontal-scrolling-items {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 50px;
  font-weight: bold;
  background-color: black;
  text-shadow: 1px 1px 1px gray;
  width: 2600px;
  animation-name: infiniteScroll;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.horizontal-scrolling-items_item {
  white-space: nowrap;
}

.quote {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 1px gray;
}

.quote2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: black;
  text-shadow: 1px 1px 1px gray;
}

.margin_div {
  margin-top: 5%;
  display: grid;
  justify-content: center;
}

.menu2 {
  float: right;
}

.menu2 a {
  display: block;
  padding: 30px 35px;
}

.main_txt2 {
  display: grid;
  justify-content: center;
}

.p {
  margin-left: 4%;
  margin-right: 5%;
}
  
.socials {
  width: 45%;
  padding: 10px;
  display: flex;
  margin-left: 320px;
}

.column {
  flex: 33.33%;
  margin-left: 50px;
}

.column:hover {
  scale: 120%;
}


@media screen and (max-width: 600px) {
ul.topnav, ul.topnav li {
  float: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

#logo {
margin-left: -2%;
margin-top: 5%
}

.menu a {
  font-size: 15px;
  padding: 10px;
}
  
.main {
  margin-top: 10%;
  font-size: 31px;
}

.main0 {
  margin-top: 10%;
  font-size: 31px;
}

.main2 {
  font-size: 31px;
}

.main_pic {
  display: grid;
  justify-content: center;
  scale: 40%;
  margin-top: -50%;
}

.margin_div {
  display: grid;
  justify-content: center;
  margin-top: 30px;
}

.p, .quote, .quote2 {
  font-size: 31px;
}

.main_txt {
  font-size: 31px;
  margin-left: 3%;
}

.main_txt2 {
  font-size: 31px;
  margin-top: -50%;
}

.main3 {
  font-size: 20px;
}

.socials {
  margin-left: 90px;
  margin-right: 20px;
}

.column {
  margin-left: 2px;
}

.horizontal-scrolling-items {
  font-size: 31px;
}

}