.bg {
  margin: 0;
  background-color: white;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 17, 45);
}
  
.menu {
  float: right;
}
  
.menu a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
  display: block;
  color: white;
  text-align: right;
  padding: 30px 20px;
  text-decoration: none;
}
  
.menu a:hover {
  scale: 110%;
  color: white;
}

.logo a {
  display: grid;
  float: left;
  padding: 20px;
}

#logo {
  position: absolute;
  max-width: 8%;
  max-height: 8%;
}

.container {
  background-color: rgb(247, 244, 244);
  height: 600px;
  min-width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.line2 {
  margin-top: 60px;
  margin-left: 30%;
  border: 4px solid orange;
  color: orange;
  width: 40%;
}

.linksHead {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.firstBlock {
  font-size: 40px;
  padding-bottom: 50px;
}

#arrow2 {
  padding-top: 60px;
}

.infoMail {
  text-decoration: none;
  color: black;
  max-width: 60%;
}

.info:hover, .infoMail:hover {
  color: orange;
}

.img {
  max-width: 100%;
  height: auto;
}

#img {
  max-width: 100%;
  height: auto;
  padding-right: 80px;
  padding-top: 100px;
}

.foot {
  display: flex;
  background-color: rgb(247, 244, 244);
  gap: 10%;
}

.contact2 {
  padding-top: 30px;
  padding-left: 90px;
  text-align: center;
}

.contact_line1 {
  font-size: 65px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.contact_form {
  text-align: left;
  margin-bottom: 10%;
  width: 100%;
}

.contact_form input {
  padding: 7px 20px;
  outline: none;
  border: 2px solid rgb(247, 244, 244);
  border-bottom: 2px solid black;
  font-size: 12px;
  background-color: rgb(247, 244, 244);
  margin-bottom: 10px;
  width: 100%;
  color: black;
}

.contact_form textarea {
  padding: 7px 20px;
  outline: none;
  border-color: rgb(247, 244, 244);
  border-bottom: 2px solid black;
  font-size: 12px;
  color: black;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  background-color: rgb(247, 244, 244);
}

.contact_form button {
  margin-left: 25%;
  font-size: 19px;
  width: 50%;
  border: 2px solid orange;
  margin-top: 30px;
  padding: 12px 20px;
  background-color: orange;
  color: rgba(0, 17, 45);

  cursor: pointer;
  transition: 0.2 ease-in-out;
}

.contact_form button:hover {
  background-color: rgb(247, 244, 244);
  color: black;
  border: 2px solid black;
}

.socials {
  text-align: justify;
  max-width: 100%;
  display: block;
  justify-content: center;
  align-content: center;
  border: 30px solid black;
  background-color: black;
}

.socials a {
  padding-left: 60px;
}

.socialsImg {
  max-width: 60px;
  max-height: auto;
}

.socialsImg:hover {
  scale: 100%;
}

.socialsName {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding-left: 20px;
}

.socialsA:hover {
  scale: 105%;
}

.socialsA {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  ul.topnav, ul.topnav li {
    float: block;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  
  #logo {
    margin-top: 10px;
  }
  
  .menu a {
    font-size: 15px;
    padding: 10px;
  }

  .container {
    height: 250px;
  }

  .img {
    max-width: 100%;
  }

  #img {
    max-width: 90%;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 10%;
  }

.linksHead {
  padding-bottom: 60px;
  font-size: 20px;
}

.linksHead {
  padding-bottom: 20px;
}

.firstBlock {
  font-size: 20px;
  padding-bottom: 40px;
}

.foot {
  display: block;
}

#arrow2 {
  padding-top: 0;
}

.contact2 {
  width: 95%;
  padding-left: 10px;
  padding-bottom: 20px;
}

.contact_line1 {
  padding-top: 20px;
  font-size: 45px;
  width: 100%;
}

.socials {
  max-width: 100%;
  display: grid;
  margin-left: 0;
  border: 20px solid black;
  padding-bottom: 10px;
}

.socials a {
  padding-top: 15px;
  padding-left: 0;
}

}